@font-face {
  font-family: "DSEG7";
  src: url("fonts/DSEG7Modern-BoldItalic.woff2") format("woff2");
}
body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; /* Horizontal alignment */
  min-height: 100vh; /* Ensures the body takes up at least the full height of the viewport */
  margin: 0; /* Reset default margin */
  padding: 0; /* Reset default padding */
  background: -webkit-linear-gradient(
    90deg,
    #8330e9,
    #c064c8,
    #cba1bc
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    90deg,
    #8330e9,
    #c064c8,
    #cba1bc
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#visibleDisplay {
  font-family: DSEG7;
  display: flex;
  justify-content: flex-end;
  font-size: 1.5rem;
}
#calculator {
  background-color: rgba(52, 60, 85, 0.856);
  width: auto;
  height: auto;
  border-radius: 4%;
  padding: 2rem;
}

#screen {
  background-color: rgba(187, 211, 183, 0.856);
  border-radius: 3%;
  padding-top: 1.2rem;
  padding-right: 0.5rem;
  padding-bottom: 0.1rem;
  margin-bottom: 1rem;
}

#titleLine {
  display: flex;
  justify-content: space-between;
  color: azure;
  margin: 0px;
}

#SVPAM {
  display: flex;
  justify-content: center;
  color: rgb(255, 98, 184);
  font-weight: 700;
  font-size: 1.2rem;
}

#CHASIO {
  font-family: "Rajdhani", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1.5rem;
  margin: 0px;
}

#FXTEXT {
  font-family: "Rokkitt", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: italic;
  margin: 0px;
}

#FOLLOWME {
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
button {
  border-radius: 0.8rem 0.8rem 1.2rem 1.2rem;
  background-color: rgb(148, 148, 148);
  color: azure;
  width: 4rem;
  height: 3rem;
  padding: 1rem;
  border: none;
  margin: 0.3rem;
}

.Highlightbutton {
  background-color: rgb(177, 100, 110);
}

.Operationbutton {
  background-color: rgb(90, 90, 90);
}

#mainTitle {
  font-family: "Rajdhani", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 3rem;
  color: azure;
}

#followReminder {
    font-family: "Rajdhani", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1.5rem;
    color: azure;
}


    footer {
        font-size: 1rem;
        font-family: "Helvetica", sans-serif;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 1rem;
        gap: 1rem;
    }
